$darkTurquoise: 	darkturquoise;
$charlestonGreen: #2E3532;
$blond: #FBF2C0;
$rubyRed: #A41623;
$silverMetalic: #AFAAB9;


.App {
  font-family: sans-serif;
  text-align: center;
  color: $charlestonGreen;
}
